//Site background and text colors
$header-color: black;
$floating-nav-color:linear-gradient(99deg,#ff70a6,#ff9770 40%,#ffd670 73%,#e9ff70);
$about-color: linear-gradient(0.25turn,teal,#061922,#061922,#061922, #061922,#061922, teal);
$skills-color: linear-gradient(0.25turn,teal,#061922,#061922,#061922, #061922,#061922, teal);
$projects-color:linear-gradient(0.25turn,teal,#061922,#061922,#061922, #061922,#061922, teal);
$contact-color: teal;
$header-link-color: teal;
$off-yellow:teal; 
$text-color: black;
$floating-text-color:black;
//Breakpoints
$breakpoint-tablet: 550px;
$breakpoint-desktop: 901px;